* {
    box-sizing: border-box
}

body {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


header {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 3em;
    border: solid black 10px;
    background-color: rgb(250,237,226);
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}   

form > h3 {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul {
    font-size: 1.3em;
    list-style: none;
    margin:5px;
    border:20px
}

ul li {
    margin: 10px
}
  
.sessions {
    font-size: 3em;
    border: solid black 10px;
    background-color: rgb(250,237,226);
    margin: 1rem;
    padding: 1rem;
    display: flex;
}

button {
    background-color: black;
    color: white;
    font-size: .5em;
}

form > select,input {
    background-color: black;
    color: white;
    font-size: .5em;
}


  