* {
    box-sizing: border-box
}

body {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


header {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 3em;
    border: solid black 10px;
    background-color: rgb(250,237,226)
}   

ul {
    font-size: 1.3em;
    list-style: none;
    margin:5px;
    border:20px
}

ul li {
    margin: 10px
}